---
import moment from "moment";
import Layout from "../../layouts/Layout.astro";
import { futureGigs } from "../../tools";

export async function getStaticPaths({ paginate }) {
  const gigs = await futureGigs()
    .then(function (items) {
      return items.map((gig) => {
        return {
          href: gig.url,
          date: gig.startDate.slice(0, 10),
          name: gig.location.name,
        };
      });
    });
  return paginate(gigs, { pageSize: 4 });
}

const { page } = Astro.props;
---

<Layout title="Upcoming Gigs">
  <ul>
    {
      page.data.map((gig) => (
        <li>
          <a href={gig.href}>
            {moment(gig.date).format("dddd MMM Do")}
            <span class="venue">{gig.name}</span>
          </a>
        </li>
      ))
    }
  </ul>


  <div id="paginators">
    {page.url.prev && <a href={page.url.prev}>«</a> || <span class="dead">«</span>}
    {page.url.next && <a href={page.url.next}>»</a> || <span class="dead">»</span>}
  </div>
</Layout>

<style>
  ul {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  @media only screen and (max-width: 600px) {
    ul {
      grid-template-columns: 1fr 1fr;
    }
  }

  a {
    text-decoration: none;
  }

  .venue {
    display: block;
    font-size: 1.5rem;
  }

  .dead {
    color: var(--colour-grey);
  }



  @media only screen and (max-width: 600px) {
    #paginators {
      text-align: center;
    }
  }
</style>
