---
import moment from "moment";

const { eventSet, dateFormat } = Astro.props;
---
<ul>
  {
    eventSet.map((event) => (
      <li>
        <a href={event.href}>
          {moment(event.startDate).format(dateFormat)}
          <span class="venue">{event.location.name}</span>
        </a>
      </li>
    ))
  }
</ul>

<style>
  li {
    font-size: 1.5rem;
  }

  .venue {
    display: block;
    font-size: 2.5rem;
  }

  ul {
    display: grid;
    justify-content: center;
    height: 100%;
    align-items: center;
    padding-top: 10rem;
    padding-bottom: 10rem;
  }

  @media only screen and (max-width: 600px) {
    li {
      font-size: unset;
    }

    .venue {
      font-size: 1.5rem;
    }

    ul {
      gap: 0rem;
      padding: 0;
    }
  }
</style>
