---
import moment from "moment";

interface Props {
  eventSet: EventSet;
  dateFormat: string;
  type?: string;
}

const { eventSet, dateFormat, type } = Astro.props;

function getURL(url: string) {
  if (type) {
    url = url.replace("gigs", type);
  }

  return url;
}
---

<ul>
  {
    eventSet.items.map((event: Event) => (
      <li>
        <a href={getURL(event.url)}>
          {moment(event.startDate).format(dateFormat)}
          <span>{event.location.name}</span>
        </a>
      </li>
    ))
  }
</ul>

<style>
  li {
    font-size: 1rem;
    text-align: center;
  }

  span {
    display: block;
    font-size: 1.5rem;
    margin-top: -0.5rem;
  }

  ul {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 50vw;
    width: 50vw;
  }

  @media only screen and (min-width: 600px) {
    ul {
      padding-top: 6rem;
      padding-bottom: 6rem;
      height: 30vw;
    }
  }

  @media only screen and (max-height: 500px) {
    ul {
      padding: 0;
    }
  }
</style>
