---
import moment from "moment";

const { eventSet, dateFormat, type } = Astro.props;

function getURL(url) {
  if (type) {
    url = url.replace("gigs", type)
  }

  return url
}
---
<ul>
  {
    eventSet.map((event) => (
      <li>
        <a href={getURL(event.url)}>
          {moment(event.startDate).format(dateFormat)}
          <span class="venue">{event.location.name}</span>
        </a>
      </li>
    ))
  }
</ul>

<style>
  li {
    font-size: 1.5rem;
  }

  .venue {
    display: block;
    font-size: 2.5rem;
    margin-top: -0.75rem;
  }

  ul {
    display: grid;
    justify-content: center;
    height: 100%;
    align-items: center;
    padding-top: 10rem;
    padding-bottom: 10rem;
    gap: 1rem;
  }

  @media only screen and (max-width: 600px) {
    li {
      font-size: unset;
    }

    .venue {
      font-size: 1.5rem;
      margin-top: -0.5rem;
    }

    ul {
      gap: 0;
      padding: 0;
      padding-bottom: 1rem;
    }
  }
</style>
