---
import { format } from "date-fns";

interface Props {
  record: {
    url: string;
    image: Image;
    name: string;
    datePublished: string;
  };
}

const { record } = Astro.props;
---

<a href={record.url}>
  <img src={record.image.contentUrl} />
  <h2>
    {record.name}
    <small>({format(new Date(record.datePublished), "yyyy")})</small>
  </h2>
</a>
