---
import moment from "moment";

const { record } = Astro.props;
---

<a href={record.url}>
  <img src={record.image.contentUrl} />
  <h2>
    {record.name}
    <small>({moment(record.datePublished).format("YYYY")})</small>
  </h2>
</a>
