---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404">
  <section>
    <p>
      This place is not a place of honor. No highly esteemed deed is
      commemorated here
    </p>
  </section>
</Layout>

<style>
  section {
    font-size: 2rem;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }

  p {
    text-align: center;
  }
</style>
