---
import Layout from "../layouts/Layout.astro";

const gigs = await fetch("https://json.rawfunkmaharishi.uk/gigs.json")
  .then(function (response) {
    return response.json();
  })
  .then(function (json) {
    return json;
  })
  .then(function(items) {
    return items.reverse()
  })
  .then(function (items) {
    return items.map((gig) => {
      return {
        href: "/gigs/" + gig.offSchema.nameBits.join("/"),
        date: gig.offSchema.nameBits.slice(0, 3).join("-"),
        name: gig.location.name,
      };
    });
  });
---

<Layout>
  <ul>
    {
      gigs.map((gig) => (
        <li>
          <a href={gig.href}>
            {gig.date} - {gig.name}
          </a>
        </li>
      ))
    }
  </ul>
</Layout>
