---
import Layout from "../layouts/Layout.astro";

const records = await fetch("https://json.rawfunkmaharishi.uk/records.json")
  .then(function (response) {
    return response.json();
  })
  .then(function (json) {
    return json;
  })
  .then(function (items) {
    return items.map((record) => {
      return {
        href: "/records/" + record["offSchema"]["id"],
        year: record.datePublished.split("-").slice(0, 1),
        name: record.name,
        image: "/record-covers/" + record["offSchema"]["image"]
      };
    });
  });

---

<Layout>
  <ul>
    {
      records.map((record) => (
        <li>
          <a href={record.href}>
            <img src={record.image} />
            {record.year} - {record.name}
          </a>
        </li>
      ))
    }
  </ul>
</Layout>
