---
import Layout from "../layouts/Layout.astro";
import { fetchFromAPI } from "../lib/tools";

const records = await fetchFromAPI("records").then(function (records) {
  return records.reverse().map((record) => {
    return {
      href: record.url,
      year: record.datePublished.split("-").slice(0, 1)[0],
      name: record.name,
      image: record.image.contentUrl,
    };
  });
});
---

<Layout title="Records">
  <section>
    <button class="slide-arrow" id="slide-arrow-prev"> &#8249;</button>
    <button class="slide-arrow" id="slide-arrow-next"> &#8250;</button>

    <ul id="slides-container">
      {
        records.map((record) => (
          <li>
            <div class="record">
              <a href={record.href}>
                <img src={record.image} class="record-sleeve" />
              </a>
              <h2>
                {record.name} <small>({record.year})</small>
              </h2>
            </div>
          </li>
        ))
      }
    </ul>
  </section>
</Layout>

<style>
  :root {
    --width: 60vw;
  }

  h2 {
    font-size: 1rem;
    text-align: center;
  }

  section {
    position: relative;
    margin: 0;
    padding: 0;
  }

  ul {
    margin-inline: auto;
    display: flex;
    flex-direction: row;
    width: var(--width);
    overflow: hidden;
    scroll-behavior: smooth;
  }

  li {
    align-items: center;
  }

  img {
    width: calc(var(--width) - 2vw);
    margin-inline: 1vw;
  }

  .slide-arrow {
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 2rem;
    background-color: var(--colour-link);
    border: none;
    width: 2rem;
    font-size: 1.5rem;
    padding: 0;
    cursor: pointer;
    border-radius: 2rem;
    justify-content: center;
  }

  #slide-arrow-prev {
    left: 0;
  }
  #slide-arrow-next {
    right: 0;
  }

  @media only screen and (min-width: 600px) {
    :root {
    --width: 40vw;
  }

  }
</style>

<script>
  // https://webdesign.tutsplus.com/tutorials/how-to-build-a-simple-carousel-with-vanilla-javascript--cms-41734

  const slidesContainer = document.getElementById("slides-container");
  const slide = document.querySelector(".record");
  const prevButton = document.getElementById("slide-arrow-prev");
  const nextButton = document.getElementById("slide-arrow-next");

  nextButton.addEventListener("click", () => {
    const slideWidth = slide.clientWidth;
    slidesContainer.scrollLeft += slideWidth;
  });

  prevButton.addEventListener("click", () => {
    const slideWidth = slide.clientWidth;

    slidesContainer.scrollLeft -= slideWidth;
  });
</script>
