---
import Layout from "../layouts/Layout.astro";
import { fetchFromAPI } from "../tools";

const records = await fetchFromAPI("records")
  .then(function (records) {
    return records.map((record) => {
      return {
        href: record.url,
        year: record.datePublished.split("-").slice(0, 1)[0],
        name: record.name,
        image: record.image.contentUrl
      };
    });
  });

---

<Layout>
  <ul>
    {
      records.map((record) => (
        <li>
          <a href={record.href}>
            <img src={record.image} />
            {record.year} - {record.name}
          </a>
        </li>
      ))
    }
  </ul>
</Layout>
