---
import Layout from "../layouts/Layout.astro";
import { fetchFromAPI, getJSONLD } from "../tools";

const band = await fetchFromAPI("raw-funk-maharishi")

---

<Layout title="The Band" jsonLD={getJSONLD(band)}>
  <ul>
    {
      band.member.map((person) => (
        <li>
          <h2>{person.name}</h2>
          <img src={person.image.contentUrl} />
          <h3>{person.knowsAbout}</h3>
        </li>
      ))
    }
  </ul>
</Layout>

<style>
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
  }

  li {
    margin: auto;
    padding-bottom: 1rem;
    flex-basis: 40%;
  }
</style>
