---
import Layout from "../layouts/Layout.astro";
import { fetchFromAPI } from "../tools";

const people = await fetchFromAPI("people")
  .then(function (people) {
    return people;
  });
---

<Layout title="The Band">
  <ul>
    {
      people.map((person) => (
        <li>
          <img src={person.image.contentUrl} />
          <h2>{person.name}</h2>
          <h3>{person.knowsAbout}</h3>
        </li>
      ))
    }
  </ul>
</Layout>
