---
import moment from "moment";
import Layout from "../layouts/Layout.astro";
import { fetchFromAPI } from "../tools";

const videosToShow = 8

const videos = await fetchFromAPI("gigs")
  .then(function (gigs) {
    return gigs.filter((item) => "recordedIn" in item)
  })
  .then(function(gigs) {
    return gigs.reverse().slice(0, videosToShow)
  })
  .then(function (videos) {
    return videos.map((video) => {
      return {
        date: video.startDate,
        venue: video.location.name,
        youtube: video.recordedIn.embedUrl
      };
    });
  });
---

<Layout title="Videos">
  <ul>
    {videos.map((video) => <li>
      <h2>{video.venue}</h2>
      <h3>{moment(video.date).format("MMMM Do YYYY")}</h3>
      <div class="video-wrapper">
          <iframe src={video.youtube} allowfullscreen
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
        </div>
      </li>)}
  </ul>
</Layout>
