---
const calendars = [
  // {
  //   url: "/gigs/rss.xml",
  //   mdi: "rss",
  //   title: "RSS",
  // },
  {
    url: "/gigs/calendar.ics",
    mdi: "calendar",
    title: "ICS",
  },
];

function makeID(prefix: string, calendar: object) {
  return prefix + "-" + calendar.title;
}
---

<a id="calendar-subscribe">Subscribe</a>

<dialog id="calendar-subscribe-links">
  <span>Subscribe to our gig calendar: click the button to copy the address, then paste it into your calendar app</span>
  <ul>
    {
      calendars.map((calendar) => (
        <li>
          <a
            class="button"
            title={calendar.title}
            id={makeID("button", calendar)}
            data-clipboard-text={import.meta.env.SITE + calendar.url}
          >
            <span class:list={["mdi", "mdi-" + calendar.mdi]} />
            {calendar.title}
          </a>
          <span class="tooltip" id={makeID("tooltip", calendar)}>
            Copied!
          </span>
        </li>
      ))
    }
  </ul>
</dialog>

<script>
  var clipboard = new ClipboardJS("a");
  var linksModal = document.getElementById("calendar-subscribe-links")

  clipboard.on("success", function (e) {
    // hide all tooltips
    document
      .querySelectorAll(".tooltip")
      .forEach((tip) => (tip.style.display = "none"));

    var tt = document.getElementById("tooltip-" + e.trigger.title);
    setTimeout(function () {
      tt.style.display = "block";
      setTimeout(function () {
        tt.style.display = "none";
        linksModal.close()
      }, 2000);
    }, 200);

    e.clearSelection();
  });

  document.getElementById("calendar-subscribe").addEventListener("click", () => {
    linksModal.showModal()
  })
</script>



<style>
  a {
    margin-top: 2rem;
    cursor: pointer;
    text-align: center;
  }

  dialog {
    /* text-align: center; */
    position: absolute;
    top: 50%;
    margin-inline: auto;
    border: 0;
    width: 60%;
    padding: 1rem;
    border-radius: 0.3rem;
    border-style: solid;
    border-width: 1px;
    border-color: var(--colour-border);
  }

  ul {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    padding: 1rem;
  }

  .tooltip {
    display: none;
    position: absolute;
    bottom: 2rem;
    width: 100%;
    font-size: 0.7rem;
    text-align: center;
    background-color: var(--colour-primary);
    color: var(--colour-background);
    border-radius: 0.3rem;
    padding: 0.2rem;
  }

  li {
    position: relative;
  }
</style>
