---
---

<a class="button" id="calendar-subscribe">Subscribe</a>

<dialog id="calendar-subscribe-links">
  <section>
    <span
      >Subscribe to our gig calendar: click the button to copy the address, then
      paste it into your calendar app</span
    >

    <a
      class="button"
      title="Subscribe to our Gig Calendar"
      id="calendar-subscribe-button"
      data-clipboard-text={import.meta.env.SITE + "/gigs/calendar.ics"}
    >
      <span class:list={["mdi", "mdi-calendar-month"]}></span>
    </a>
    <span class="tooltip" id="calendar-tooltip"> Copied!</span>
  </section>
</dialog>

<script>
  var clipboard = new ClipboardJS("a", {
    container: document.getElementById("calendar-subscribe-links"),
  });
  var linksModal = document.getElementById("calendar-subscribe-links");
  var tooltip = document.getElementById("calendar-tooltip");

  clipboard.on("success", function (e) {
    console.info("Text:", e.text);

    setTimeout(function () {
      tooltip.style.display = "block";
      setTimeout(function () {
        tooltip.style.display = "none";
        linksModal.close();
      }, 2000);
    }, 200);

    e.clearSelection();
  });

  document
    .getElementById("calendar-subscribe")
    .addEventListener("click", () => {
      linksModal.showModal();
    });
</script>

<style>
  a {
    cursor: pointer;
    text-align: center;
  }

  dialog {
    position: absolute;
    top: 50%;
    margin-inline: auto;
    border: 0;
    width: 60%;
    padding: 1rem;
    border-radius: 0.3rem;
    border-style: solid;
    border-width: 1px;
    border-color: var(--colour-border);
  }

  #calendar-subscribe-button {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.2rem;
    align-self: center;
    justify-self: center;
  }

  section {
    display: grid;
    grid-template-rows: 2fr 1fr;
    position: relative;
  }

  ul {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    padding: 1rem;
  }

  .tooltip {
    display: none;
    position: absolute;
    bottom: 3.5rem;
    width: 3rem;
    margin-inline: auto;
    left: 0;
    right: 0;
    font-size: 0.7rem;
    text-align: center;
    background-color: var(--colour-primary);
    color: var(--colour-background);
    border-radius: 0.3rem;
    padding: 0.2rem;
  }

  li {
    position: relative;
  }
</style>
