---
import RecordSlide from "./slides/RecordSlide.astro";
import MusicianSlide from "./slides/MusicianSlide.astro";
import EventSlide from "./slides/EventSlide.astro";
import PromoSlide from "./slides/PromoSlide.astro";

interface Props {
  items: any[];
  wrapAround?: Boolean;
  autoPlay?: Boolean;
}

const { items, wrapAround, autoPlay } = Astro.props;

function cellId(index: number) {
  return "cell-" + index;
}

const playSpeed = 3000;
---

<ul id="carousel">
  {
    items.map((item: SlideItem, index: number) => (
      <li id={cellId(index)} data-title={item.additionalTitle}>
        {item["@type"] == "MusicAlbum" && <RecordSlide record={item as RecordAlbum} />}

        {item["@type"] == "Person" && <MusicianSlide musician={item as Musician} />}

        {item["@type"] == "MusicEvent" && (
          <EventSlide eventSet={item as EventSet} dateFormat="EEEE MMM do" />
        )}

        {item["@type"] == "Video" && (
          <EventSlide eventSet={item as EventSet} dateFormat="MMMM yyyy" type="videos" />
        )}

        {item["@type"] == "Promo" && <PromoSlide data={item as SingleEvent} />}
      </li>
    ))
  }
</ul>

<script
  define:vars={{
    wrapAround: wrapAround,
    autoPlay: autoPlay,
    playSpeed: playSpeed,
  }}
>
  function setTitle(index) {
    const cell = document.getElementById("cell-" + index);
    if (cell.dataset.title) {
      document.getElementById("main-title").textContent = cell.dataset.title;
    }
  }

  var elem = document.querySelector("#carousel");
  var flkty = new Flickity(elem, {
    wrapAround: wrapAround,
    autoPlay: autoPlay && playSpeed,
    on: {
      ready: function () {
        setTitle(0);
      },
    },
  });

  flkty.on("change", function (index) {
    setTitle(index);
  });
</script>

<style>
  li {
    margin-inline: 15%;
  }

  ul {
    height: 60dvw;
    margin-bottom: 2rem;
  }

  @media only screen and (min-width: 600px) {
    ul {
      height: 62dvh;
      width: 90%;
      margin-inline: auto;
    }
  }
</style>

<style is:global>
  .flickity-button {
    background-color: var(--colour-link);
    transition: background-color var(--transition-time);
    top: 25dvw;
    border-radius: 30%;

  }

  .flickity-button:hover {
    background-color: var(--colour-link);
  }

  .flickity-button:focus {
    outline: none;
    box-shadow: none;
  }

  .flickity-button-icon {
    fill: var(--colour-background);
  }

  .flickity-page-dots .dot {
    width: 12px;
    height: 12px;
    opacity: 1;
    margin-inline: 0.3rem;
    background: transparent;
    border-width: 1px;
    border-style: solid;
    border-color: var(--colour-link);
    transition: background var(--transition-time);
    border-radius: 30%;
  }

  .flickity-page-dots .dot.is-selected {
    background: var(--colour-link);
  }

  @media only screen and (min-width: 600px) {
    .flickity-button {
      top: 15dvw;
    }

    .flickity-button:hover {
      background-color: var(--colour-hover);
    }
  }
</style>
