---
import "@mdi/font/css/materialdesignicons.css";
---

<footer>
  <ul>
    <li>
      <a href="/gigs/rss.xml" title="RSS feed of our gig calendar">
        <span class:list={["mdi", "mdi-rss"]}></span>
      </a>
    </li>
    <li>
      <a href="/gigs/calendar.ics" title="ICS gig calendar">
        <span class:list={["mdi", "mdi-calendar"]}></span>
      </a>
    </li>
    <li>
      <a
        href="https://mastodon.me.uk/@rawfunkmaharishi"
        title="Raw Funk Maharishi on Mastodon"
        target="_blank"
      >
        <span class:list={["mdi mdi-mastodon"]}></span>
      </a>
    </li>
  </ul>
</footer>

<style>
  footer {
    grid-area: footer;
    align-self: end;
    height: 2.5rem;
    margin-top: 2rem;
  }

  ul {
    display: flex;
    width: 20%;
    margin-inline: auto;
    align-items: center;
  }

  li {
    list-style-type: none;
    flex-grow: 1;
    text-align: center;
    font-size: 1rem;
  }

  @media only screen and (min-width: 600px) {
    footer {
      height: 2rem;
    }

    ul {
      max-width: 5rem;
   }
  }

</style>
