---
import "@mdi/font/css/materialdesignicons.css";

const links = [
  {
    url: "https://mastodon.me.uk/@rawfunkmaharishi",
    mdi: "mastodon",
    title: "Raw Funk Maharishi on Mastodon",
  },
];
---

<footer>
  <ul>
    {
      links.map((link) => (
        <li>
          <a href={link.url} title={link.title}>
            <span class:list={["mdi", "mdi-" + link.mdi]} />
          </a>
        </li>
      ))
    }
  </ul>
</footer>

<style>
  footer {
    grid-area: footer;
    align-self: end;
    height: 2.5rem;
    margin-top: 2rem;
  }

  ul {
    display: flex;
    width: 20%;
    margin-inline: auto;
    align-items: center;
  }

  li {
    list-style-type: none;
    flex-grow: 1;
    text-align: center;
    font-size: 1rem;
  }

  @media only screen and (min-width: 600px) {
    footer {
      height: 2rem;
    }

    ul {
      max-width: 5rem;
    }
  }
</style>
