---
import Leaflet from "../components/Leaflet.astro";
import { ogFromJSON } from "../lib/OpenGraph";
const { title, jsonLD } = Astro.props;

var og = null
if(jsonLD) {
  og = new ogFromJSON(JSON.parse(jsonLD), import.meta.env.SITE)
}
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="generator" content={Astro.generator} />

  <Leaflet />

  {jsonLD && <script type="application/ld+json" set:html={jsonLD} />}

  {og &&
  <Fragment set:html={og.render()}>
  }

  <title>{title}</title>
</head>
