---
import Leaflet from "../components/Leaflet.astro";

const { title, jsonLD } = Astro.props;
---

<head>
  <Leaflet />

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>

    {jsonLD &&
  <script type="application/ld+json" set:html={jsonLD}></script>

    }
</head>
