---
import { isActive } from "../lib/tools";

const navs = [
  {
    title: "Band",
    path: "/the-band/",
  },
  {
    title: "Gigs",
    path: "/gigs/",
  },
  {
    title: "Records",
    path: "/records/",
  },
  {
    title: "Videos",
    path: "/videos/",
  },
];

for (const property in navs) {
  if (isActive(navs[property]["path"], Astro.url.pathname)) {
    navs[property]["class"] = "active";
  }
}

const { title } = Astro.props;
---

<nav>
  <ul>
    {
      navs.map((item) => (
        <li>
          <a href={item.path} class={item.class}>
            {item.title}
          </a>
        </li>
      ))
    }
  </ul>
</nav>

<style>
  nav {
    grid-area: nav;
    background-color: red;
  }

  ul {
    display: flex;
    width: 80%;
    margin-inline: auto;
    align-items: center;
    height: 2.5rem;
  }

  li {
    list-style-type: none;
    flex-grow: 1;
    text-align: center;
    font-size: 1rem;
  }

  nav a {
    text-decoration: none;
    padding: 0.5rem;
    border-bottom-color: transparent;
    border-bottom-width: 1px;
    border-bottom-style: solid;

    transition: border-bottom-color ease var(--transition-time);
  }

  nav a:hover,
  .active {
    border-bottom-color: var(--colour-border);
  }

  .active {
    color: var(--colour-primary);
  }

  @media only screen and (max-width: 600px) {
    /* li {
      margin-top: 1.5rem;
    } */
  }
</style>
