---
import Favicons from "./Favicons.astro";
import Leaflet from "../components/Leaflet.astro";
import Libs from "../components/Libs.astro";
import Flickity from "./Flickity.astro";

import Fonts from "../components/styles/Fonts.astro";
import Colours from "../components/styles/Colours.astro";

import { ogFromJSON } from "../lib/OpenGraph";
import { fetchFromAPI, getJSONLD } from "../lib/tools";
var { title, jsonLD } = Astro.props;

if (!jsonLD) {
  jsonLD = getJSONLD(await fetchFromAPI("raw-funk-maharishi"));
}

const og = new ogFromJSON(JSON.parse(jsonLD), import.meta.env.SITE);

const headerTitle = title || "Raw Funk Maharishi";
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="generator" content={Astro.generator} />
  <meta name="color-scheme" content="dark light">

  <Favicons />
  <Libs />
  <Leaflet />
  <Flickity />

  <Fonts />
  <Colours />

  <script type="application/ld+json" set:html={jsonLD} />

  {og && <Fragment set:html={og.render()} />}
  <title>{headerTitle}</title>

  <link rel="me" href="https://mastodon.me.uk/@rawfunkmaharishi" />
</head>
