---

const navs = [
  {
    title: "Band",
    path: "/the-band/",
  },
  {
    title: "Gigs",
    path: "/gigs/1"
  },
  {
    title: "Records",
    path: "/records/",
  },
  {
    title: "Videos",
    path: "/videos/1",
  },
];

const { title } = Astro.props;
---

<nav>
  <ul>
    {
      navs.map((item) => (
        <li>
          <a href={item.path}>{item.title}</a>
        </li>
      ))
    }
  </ul>
</nav>


<style>
  ul {
    display: flex;
    width: 80%;
    margin-inline: auto;
  }

  li {
    list-style-type: none;
    flex-grow: 1;
    text-align: center;
    margin: 1rem;
    margin-top: 2rem;
    font-size: 1rem;
  }

  a {
    text-decoration: none;
  }
</style>
