---
import Logo from "../components/Logo.astro";

const navs = [
  {
    title: "Gigs",
    path: "/gigs/",
  },
  {
    title: "Music",
    path: "/records/",
  },
  {
    title: "Videos",
    path: "/videos/",
  },
  {
    title: "Band",
    path: "/the-band/",
  },
];
---

<nav>
  <ul>
    {
      navs.map((item) => (
        <li>
          <a href={item.path}>{item.title}</a>
        </li>
      ))
    }
  </ul>
</nav>

<Logo />

<style>
  ul {
    display: flex;
  }

  li {
    list-style-type: none;
    flex-grow: 1;
    text-align: center;
  }



</style>
