---
---

<a href="/">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3925 1565">
    <path
      d="M155.85 322.06h79.49c37.09 0 58.29 23.85 62.27 72.2 3.31 48.36 7.29 78.83 13.25 92.74h133.76l5.77-15.67c-4.46-15.63-7.43-37.99-8.37-63.82-2.65-79.49-29.81-123.87-70.88-139.77 44.38-15.9 70.88-64.92 70.88-118.57 0-41.73-14.57-75.52-43.72-98.7-29.81-23.85-66.24-36.43-107.97-36.43H10.13V487h145.73V322.06zm0-195.41h70.88c43.06 0 69.55 11.92 69.55 47.03 0 31.79-20.54 47.03-61.61 47.03h-78.83v-94.06zM714.66 256.16l113.42-58.59-66.84-183.53H618.83l-58.08 157.67 153.91-79.5z"
    ></path>
    <path
      d="M590.34 487l21.86-67.57h150.37L782.44 487h151.03l-88.18-242.15-180.54 93.26V174.17l-129.56 66.92-84.81 230.24c1.83 6.42 3.89 11.81 6.2 15.67h133.76z"
    ></path>
    <path
      d="M456.59 487c-2.31-3.86-4.37-9.25-6.2-15.67L444.61 487h11.98zM1130.16 487l49.68-288.15h1.32L1232.17 487h141.75L1506.4 14.04h-143.74l-58.95 296.1h-1.33l-55.64-296.1h-128.51l-56.96 292.12h-1.33l-57.63-292.12H859.23L987.74 487zM155.85 838.49h188.79V725.88H155.85v-58.96h219.92V545.7H10.12v472.96h145.73zM412.16 545.7v292.78c0 123.87 65.58 191.44 215.95 191.44 147.72 0 215.28-64.92 215.28-190.77V545.7H697.65v274.9c0 60.94-19.21 91.41-68.89 91.41-64.25 0-70.88-47.03-70.88-102.68V545.7H412.16zM1330.2 1018.66V545.7h-137.78v252.38h-1.33L1053.31 545.7H904.27v472.96h137.78V760.32h1.32l145.07 258.34zM1397.04 545.7v472.96h145.74V878.89l40.4-44.38 116.59 184.15h181.49l-199.38-288.14 171.56-184.82h-179.51L1544.1 708.66h-1.32V545.7zM560.58 1077.36H353.25l-67.57 278.21h-1.32l-67.56-278.21H9.46v472.96h137.78v-303.38h1.33l82.14 303.38h108.63l82.14-303.38h1.32v303.38h129.77l8.01-21.76zM791.76 1244.07c26.78-35.93 54.28-72.75 105.67-89.15l-28.24-77.55H726.78l-99.46 270.01c95.05-10.28 128.9-55.63 164.44-103.31z"
    ></path>
    <path
      d="M831.78 1273.9c-39.46 52.93-88.1 118.06-223.41 124.93l-47.79 129.73v21.77H698.3l21.86-67.57h150.37l19.87 67.57h151.03l-126.88-348.44c-37.53 11.35-57.54 38.16-82.77 72.01zM552.57 1550.32h8.01v-21.76zM1329.52 1241.64h-136.46v-164.28h-145.73v472.96h145.73v-187.46h136.46v187.46h145.73v-472.96h-145.73zM1840.32 1195.99h-89.79v203.47h-214.47l-55.57 150.86h145.73l21.86-67.56h150.36l19.88 67.56h143.69v-20.15z"
    ></path>
    <path
      d="M1700.63 1146.08h121.51l-25.02-68.72H1654.7l-100.26 272.19h146.19zM2323.02 1331.07c44.38-15.9 70.88-64.92 70.88-118.57 0-41.73-14.57-75.51-43.72-98.7-29.81-23.85-66.24-36.43-107.97-36.43h-280.2v452.81l7.34 20.15h138.39v-164.94h79.49c37.09 0 58.29 23.85 62.27 72.2 3.31 48.36 7.29 78.83 13.25 92.74h145.73c-7.95-13.25-13.25-43.06-14.58-79.49-2.65-79.49-29.81-123.88-70.88-139.77zm-136.46-47.04h-78.83v-94.06h70.88c43.06 0 69.55 11.92 69.55 47.03.01 31.8-20.53 47.03-61.6 47.03z"
    ></path>
    <path
      d="M1962.01 1550.32h7.33l-7.33-20.15zM2439.55 1077.36h145.73v472.96h-145.73zM2878.05 1254.23c-84.79-19.21-104.66-33.12-104.66-51.67 0-21.2 21.85-31.8 52.32-31.8 31.8 0 60.95 15.9 60.95 42.39l-.66 7.29h137.77c-3.31-101.35-76.84-154.34-196.74-154.34-110.62 0-191.43 56.97-191.43 156.33 0 66.9 40.41 102.67 124.53 126.52l66.23 19.21c50.35 14.57 71.54 23.85 71.54 45.71 0 27.16-23.18 43.06-60.28 43.06-49.01 0-73.53-17.23-74.85-65.58h-145.73c0 55.64 19.87 98.03 60.94 127.18 40.41 28.48 89.42 43.06 147.71 43.06 64.92 0 117.25-13.91 157.65-41.73 39.75-27.82 60.29-68.23 60.29-121.22 0-37.1-12.59-66.91-37.1-90.09-24.49-22.53-66.88-40.41-128.48-54.32zM3357.59 1241.64h-136.46v-164.28H3075.4v472.96h145.73v-187.46h136.46v187.46h145.72v-472.96h-145.72zM3564.86 1077.36h145.73v472.96h-145.73zM3776.14 1419.16h137.78v131.16h-137.78z"
    ></path>
  </svg>
</a>

<style>
  svg {
    fill: var(--colour-primary);
    transition: fill var(--transition-time);
  }

  svg:hover {
    fill: var(--colour-link-hover);
  }
</style>
