---
---

<button class="slide-arrow" id="slide-arrow-prev">&#8249;</button>
<button class="slide-arrow" id="slide-arrow-next">&#8250;</button>

<style>
  .slide-arrow {
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 2rem;
    background-color: var(--colour-link);
    color: var(--colour-background);
    border: none;
    width: 2rem;
    font-size: 1.5rem;
    padding: 0;
    cursor: pointer;
    border-radius: 2rem;
    justify-content: center;
    z-index: 1;
  }

  .slide-arrow:hover {
    background-color: var(--colour-link-hover);
  }

  #slide-arrow-prev {
    left: 0;
  }
  #slide-arrow-next {
    right: 0;
  }

  .dead {
    background-color: var(--colour-dead);
  }

  .dead:hover {
    background-color: var(--colour-dead);
  }

  @media only screen and (max-width: 600px) {
    .slide-arrow {
      position: fixed;
      top: unset;
      bottom: 7rem;
      margin: 1rem;
    }
  }
</style>
