---
import { fetchFromAPI } from "../lib/tools";

const record = await fetchFromAPI("records").then(function (records) {
  return records.reverse()[0]
})
.then(function(record) {
  return {
    href: record.url,
    image: record.image.contentUrl
  }
})
---
<div>
  <span>New record out now!</span>
  <a href={record.href}>
    <img src={record.image}/>
  </a>
</div>
   <style>
     div {
       margin: 5rem;
       text-align: center;
     }

     img {
      max-width: 50vh;
     }

     span {
       font-size: 1.5rem;
       display: block;
       margin-bottom: 2rem;
     }


   </style>
