---
import moment from "moment";

import { futureGigs } from "../lib/tools";

const nextGig = await futureGigs()
  .then(function (gigs) {
    return gigs[0];
  })
  .then(function (gig) {
    return {
      href: gig.url,
      date: gig.startDate.slice(0, 10), // TODO make this a tools function
      name: gig.location.name,
    };
  });
---
<div>
    <span class="heading">Next live show:</span>

    <a href={nextGig.href}>
      <span class="highlight">
        {nextGig.name}
      </span>

      <span class="highlight">
        {moment(nextGig.date).format("dddd, MMMM Do")}
      </span>
    </a>
  </div>

  <style>
    div {
      margin: 5rem;
    }

    span {
      display: block;
    }

    .heading {
      font-size: 1.5rem;
    }

    .highlight {
      font-size: 2rem;
    }
  </style>
