---
import moment from "moment";
import NavButtons from "./NavButtons.astro";
const { page, dateFormat } = Astro.props;
---

<div>
  <NavButtons urls={page.url} />
  <ul>
    {
      page.data.map((item) => (
        <li>
          <a href={item.href}>
            {moment(item.date).format(dateFormat)}
            <span class="venue">{item.name}</span>
          </a>
        </li>
      ))
    }
  </ul>
</div>

<style>
  ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-self: center;
    text-align: center;
  }

  @media only screen and (max-width: 600px) {
    ul {
      grid-template-columns: 1fr;
      gap: 1rem;
    }
  }

  .venue {
    display: block;
    font-size: 1.5rem;
  }

  div {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
</style>
