---
import RecordSlide from "./slides/RecordSlide.astro";
import MusicianSlide from "./slides/MusicianSlide.astro";

const { items, slideType } = Astro.props;
---

<section>
  <button class="slide-arrow" id="slide-arrow-prev">&#8249;</button>
  <button class="slide-arrow" id="slide-arrow-next">&#8250;</button>

  <ul id="slides-container">
    {
      items.map((item) => (
        <li>
          <div class="slide">
            {slideType == "record" && <RecordSlide record={item} />}
            {slideType == "musician" && <MusicianSlide musician={item} />}
          </div>
        </li>
      ))
    }
  </ul>
</section>

<style>
  :root {
    --width: 60vw;
  }

  h2 {
    font-size: 1rem;
    text-align: center;
  }

  section {
    position: relative;
    margin: 0;
    padding: 0;
  }

  ul {
    margin-inline: auto;
    display: flex;
    flex-direction: row;
    width: var(--width);
    overflow: hidden;
    scroll-behavior: smooth;
  }

  li {
    align-items: center;
  }

  .slide-arrow {
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 2rem;
    background-color: var(--colour-link);
    border: none;
    width: 2rem;
    font-size: 1.5rem;
    padding: 0;
    cursor: pointer;
    border-radius: 2rem;
    justify-content: center;
  }

  #slide-arrow-prev {
    left: 0;
  }
  #slide-arrow-next {
    right: 0;
  }

  @media only screen and (min-width: 600px) {
    :root {
      --width: 40vw;
    }
  }
</style>

<script>
  // https://webdesign.tutsplus.com/tutorials/how-to-build-a-simple-carousel-with-vanilla-javascript--cms-41734

  const slidesContainer = document.getElementById("slides-container");
  const slide = document.querySelector(".slide");
  const prevButton = document.getElementById("slide-arrow-prev");
  const nextButton = document.getElementById("slide-arrow-next");

  nextButton.addEventListener("click", () => {
    const slideWidth = slide.clientWidth;
    slidesContainer.scrollLeft += slideWidth;
  });

  prevButton.addEventListener("click", () => {
    const slideWidth = slide.clientWidth;
    slidesContainer.scrollLeft -= slideWidth;
  });
</script>
