---
const { data } = Astro.props;

const classes = ["mdi", data.icon];
const name = data.name;
const elementId = data.id + "-control";
---

<li>
  <a href="#" id={elementId}>
    <span class:list={classes}></span>
    {name}
  </a>
</li>

<script define:vars={{ id: data.id }}>
  document.getElementById(id + "-control").addEventListener("click", () => {
    document.getElementById(id).showModal();
  });
</script>
