---
const { data } = Astro.props;

const classes = ["mdi", data.icon];
const name = data.name;
const elementId = data.id + "-control";

function makeTitle(name) {
  return "Listen on " + name
}
---

<li>
  <a id={elementId} title={makeTitle(name)}>
    <span class:list={classes}></span>
  </a>
</li>

<script define:vars={{ id: data.id }}>
  document.getElementById(id + "-control").addEventListener("click", () => {
    document.getElementById(id).showModal();
  });
</script>

<style>
  a {
    cursor: pointer;
  }
</style>
