---
const { data } = Astro.props;
const elementId = data.id + "-close";
---

<dialog id={data.id}>
  <iframe src={data.url}></iframe>
  <a id={elementId} title="Close">✕</a>
</dialog>

<script define:vars={{ id: data.id }}>
  document.getElementById(id + "-close").addEventListener("click", () => {
    document.getElementById(id).close();
  });
</script>

<style>
  a {
    position: absolute;
    bottom: 1rem;
    right: 2rem;
    font-size: 1.5rem;
  }

  dialog {
    position: fixed;
    margin: auto;
    border: none;
    overflow: hidden;
    background: rgb(0, 0, 0, 0.9);
    padding: 1rem;
    border-radius: 1rem;
    width: 100%;
    height: 100%;
  }

  iframe {
    width: 100%;
    height: 90%;
    border: none;
  }

  a {
    cursor: pointer;
  }

  @media only screen and (min-width: 600px) {
    dialog {
      width: 70%;
      height: 70%;
    }
  }
</style>
