---
import moment from "moment";
import Layout from "../../layouts/Layout.astro";
import { fetchFromAPI } from "../../tools";

export async function getStaticPaths({ paginate }) {
  const videos = await fetchFromAPI("gigs")
    .then(function (gigs) {
      return gigs.reverse().filter((item) => "recordedIn" in item);
    })
    .then(function (videos) {
      return videos.map((video) => {
        return {
          date: video.startDate,
          venue: video.location.name,
          youtube: video.recordedIn.embedUrl,
        };
      });
    });
  return paginate(videos, { pageSize: 1 });
}

const { page } = Astro.props;
---

<Layout title="Videos">
    <ul>
      {page.data.map((video) => <li>
        <h2>{video.venue}<small>
            </small></h2>
        <h3>{moment(video.date).format("MMMM Do YYYY")}</h3>
        <div class="video-wrapper">
            <iframe src={video.youtube} allowfullscreen
              frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
          </div>
        </li>)}
    </ul>

    <div id="paginators">
        {page.url.prev && <a href={page.url.prev}>«</a> || <span class="dead">«</span>}
        {page.url.next && <a href={page.url.next}>»</a> || <span class="dead">»</span>}
      </div>
</Layout>

<style>


  </style>
