---
import moment from "moment";
import Layout from "../../layouts/Layout.astro";
import { fetchFromAPI } from "../../lib/tools";

export async function getStaticPaths({ paginate }) {
  const videos = await fetchFromAPI("gigs")
    .then(function (gigs) {
      return gigs.reverse().filter((item) => "recordedIn" in item);
    })
    .then(function (videos) {
      return videos.map((video) => {
        return {
          href: video.url.replace("/gigs", "/videos"),
          date: video.startDate.slice(0, 10),
          name: video.location.name,
        };
      });
    });
  return paginate(videos, { pageSize: 4 });
}

const { page } = Astro.props;
---

<Layout title="Videos">
  <div class="paginated-links">

    <ul>
      {page.data.map((video) => <li>
         <a href={video.href}>
          {moment(video.date).format("MMMM YYYY", true, false)}
          <span class="venue">{video.name}</span>
          </a>
          </li>)}
  </ul>

  <div id="paginators">
    {
      (page.url.prev && <a href={page.url.prev}>«</a>) || (
        <span class="dead">«</span>
        )
      }
    {
      (page.url.next && <a href={page.url.next}>»</a>) || (
        <span class="dead">»</span>
        )
      }
  </div>
</div>
</Layout>
