name: Playwright Tests
on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest

    steps:
    - run: |
        echo ${PLAYWRIGHT_TEST_BASE_URL}
        echo ${{ github.event.deployment_status.target_url }}
      env:
        PLAYWRIGHT_TEST_BASE_URL: ${{ github.event.deployment_status.target_url }}
    - uses: actions/checkout@v3
    - run: |
        pwd
        ls
    - uses: actions/setup-node@v3
      with:
        node-version: 16
    # - name: Install dependencies
    #   run: npm ci
    # - name: Install Playwright Browsers
    #   run: npx playwright install --with-deps
    # - name: Run Playwright tests
    #   run: npx playwright test
    #   env:
    #     PLAYWRIGHT_TEST_BASE_URL: ${{ github.event.deployment_status.target_url }}
    # - uses: actions/upload-artifact@v3
    #   if: always()
    #   with:
    #     name: playwright-report
    #     path: playwright-report/
    #     retention-days: 30
